<h1>Tweak Your Profile</h1>

<h4>Tell us About what brought you here</h4>

{{!-- <div class="profile-create-form">
  <form {{action "submit" on="submit"}}>
  <label for="username">Name You Go By</label>
  {{input placeholder="Put the name you prefer to be called"
          type="text"
          id="username"
          value=profile.username}}

  <label for="location">Location</label>
  {{input placeholder="Boston, MA etc"
          type="text"
          id="location"
          value=profile.location}}

  <label for="motivation">Motivation</label>
  {{input placeholder="Tell us about what drives you"
          type="text"
          id="motivation"
          value=profile.motivation}}

  <label for="favorite">Favorite Exercise Method</label>
  {{input placeholder="Tell us what is your go-to Exercise"
          type="text"
          id="favorite"
          value=profile.favorite}}
</div>

<div class="row">
<span{{action "reset"}} class="col-md-3 col-md-offset-3">{{#link-to "application"}}<a><br>
    Cancel</a>{{/link-to}}</span>

<button class= 'btn btn-info col-md-4'{{action "save"}}><a><br>
  Sign In </a></span>
</div>
</form

 --}}

<div class="form-group">
  <label for="username">Name You Go By</label>
  {{input placeholder="Put the name you prefer to be called"
          type="text"
          id="username"
          value=profile.username}}
</div>

<div class="form-group">
  <label for="location">Location</label>
  {{input placeholder="Boston, MA etc"
          type="text"
          id="location"
          value=profile.location}}
</div>

<div class="form-group">
  <label for="motivation">Motivation</label>
  {{input placeholder="Tell us about what drives you"
          type="text"
          id="motivation"
          value=profile.motivation}}
</div>
<div class="form-group">
  <label for="favorite">Favorite Exercise Method</label>
  {{input placeholder="Tell us what is your go-to Exercise"
          type="text"
          id="favorite"
          value=profile.favorite}}
</div>
<button type="submit" class="btn btn-primary" {{action "submitProfile"}}>
Update Profile
</button>

<button class="btn btn-default" {{action "cancel"}}>
  Cancel
</button>
