<div class="profile-update">
<span><h1>{{model.username}}'s Profile </h1></span>
<label for="location">Location:</label>
{{model.location}} <br>
<label for="motivation">Motivation:</label>
{{model.motivation}} <br>
<label for="favorite_exercise">Favorite Exercise Method:</label>
{{model.favorite}} <br>

<hr>

{{delete-profile profile=model delete='deleteProfile' changeAction='changeAction'}}


{{outlet}}


<span class="col-md-4 col-md-offset-4">{{#link-to "change-password"}}<br>Change Password{{/link-to}}</span>
</div>
